#!/bin/sh
# vim: set filetype=sh:

################################################################################
# Purpose:   Provide helper script to wrap udiskctl device-mounting utility
# Args/Opts: See usage (run with -h option).
# Meta:      Script installed by ansible {{ role_name | basename }}.
# Style:     ENV_VAR, GLOBAL_VAR, GLOBAL_READONLY_VAR, func_local_var, my_func
################################################################################

